
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.row {
    max-width: 1100px;
    margin: 0 auto;
}

.home__page {
    background-color: #232323;
    padding-top: 200px;
}


.intro__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.intro__img {
    max-width: 800px;
    width: 100%;
    margin-bottom: 50px;
}

.intro__h1 {
    max-width: 600px;
    text-align: center;
    color: var(--yellow);
}

.home__icon {
    font-size: 70px;
    border: 2px solid var(--yellow);
    padding: 76px;
    transition: all 300ms ease;
}

.home__icon:hover {
    background-color: var(--yellow);
    color: var(--background);
    transition: all 500ms ease;
}

.services__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--yellow);
}

.services__outline {
    margin-top: 200px;
    padding-bottom: 200px;
}

.intro__services--h1 {
    color: var(--yellow);
    font-size: 34px;
}

#home__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.faq__heading{
    color: var(--yellow);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.question {
    color: var(--yellow);
    font-size: 22px;
    padding-left: 10px;
}

#answer {
    color: var(--yellow);
    padding: 10px;
    font-size: 16px;
}

.accordion__icon {
    font-size: 30px;
    color: var(--yellow);
}

.question__accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ques__answ {
    border: 3px solid var(--yellow);
    border-radius: 2px;
    padding: 12px 18px;
    background-color: #131313;
    max-width: 75%;
    margin: 0 auto 20px;
}

body {
    background-color: var(--background);
}

.mailing__input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mailingList__img {
    max-width: 450px;
    width: 100%;
}

#mailingList__input {
    background-color: #131313;
    border: 2px solid var(--yellow);
    height: 40px;
    width: 300px;
    color: var(--yellow);
    border-radius: 2px;
    font-size: 16px;
    margin-right: 36px;
    padding: 4px 10px;
    font-weight: 300;
}

.mailing__list {
    margin-top: 150px;
    margin-bottom: 100px;
}

#mailingList__input:focus {
    outline: none;
}

.mailingList__heading {
    color: var(--yellow);
    font-size: 20px;
    font-weight: 400;
}

.btn {
    width: 100px;
    background-color: #131313;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    padding: 8px 12px;
    font-size: 16px;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--background);
}

