
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

figure {
    line-height: 0;
}

.row {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* HOME PAGE */

.undraw__img {
    max-width: 400px;
    width: 100%;
}

.about__agency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 100px;
}

.about__us--para {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.red {
    color: red;
}

.services {
    background-color: var(--blue-1-color);
}

.services__info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.our__services {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__icon {
    font-size: 60px;
    padding: 20px;
}

.services__heading {
    text-align: center;
    font-size: 32px;
}

.services__para {
    max-width: 650px;
}

.btn {
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 3px;
    border: 2px solid white;
    margin: 20px 0;
    background-color: var(--baby-blue-color);
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

/* FINISH LATER */

.rotate__animation {
    animation-name: icon;
    animation-duration: 2s;
    animation: infinite;
    transform-origin: 50% -50%;
    display: inline-block;
}

@keyframes icon {
    0% { transform: rotate(0.0deg); }
    50%{ transform: rotate(20deg); }
    100%{ transform: rotate(-20deg); }
}


