@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');


/* font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

body {
  --aqua-color: #16f9ea;
  --baby-blue-color: #16cff9; 
  --blue-1-color: #1697f9;
  --blue-2-color: #165ef9;
  --dark-blue-color: #1625f9;
  --blue-purple-color: #4016f9;
}
